<div ng-cloak>
  <md-content layout="row" layout-align="space-around start">
    <md-list flex="40">
      <md-subheader class="md-no-sticky">Seus Contratos em andamento</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="item in services.userContracts" ng-if="item.enable || item.done">
        <img ng-src="assets/images/profile.png" class="md-avatar" ng-click="services" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ item.name_provider + ' / ' +  item.name_client}}</h3>
          <h4 ng-if="item.money">{{ item.name + ' / Valor: R$' + item.money}}</h4>
          <h4 ng-if="item.point">{{ item.name + ' / Pontos: ' + item.point}}</h4>
          <p>{{ item.create_at }}</p>
        </div>
      </md-list-item>
    </md-list>
    <md-list flex="40">
      <md-subheader class="md-no-sticky">Contratos finalizados</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="item in services.getDoneContract">
        <img ng-src="assets/images/profile.png" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ item.name_provider + ' / ' +  item.name_client}}</h3>
          <h4 ng-if="item.money">{{ item.name + ' / Valor: R$' + item.money}}</h4>
          <h4 ng-if="item.point">{{ item.name + ' / Pontos: ' + item.point}}</h4>
          <p>{{ item.done_at }}</p>
          <input-stars max="5" ng-model="item.rating" ng-click="services.ratingService()"></input-stars>
        </div>
      </md-list-item>
    </md-list>
  </md-content>

  <md-content layout="row" layout-align="space-around start">
    <md-list flex="40">
      <md-subheader class="md-no-sticky">Contratar Novo Serviço - Clique para contratar</md-subheader>
      <md-list-item class="md-3-line" ng-repeat="item in services.services" ng-click="services.registerNewContract(item)" ng-hide="user._id === item.id_person">
        <img ng-src="assets/images/profile.png" class="md-avatar" />
        <div class="md-list-item-text" layout="column">
          <h3>{{ item.name_provider }}</h3>
          <h4 ng-if="item.money">{{ item.name + ' / Valor: R$' + item.money}}</h4>
          <h4 ng-if="item.point">{{ item.name + ' / Pontos: ' + item.point}}</h4>
          <p>{{ item.category }}</p>
        </div>
      </md-list-item>
    </md-list>
    <md-list flex="40" ng-show="user.role==='provider'">
      <md-subheader class=" md-no-sticky ">Estou executando - Clique para finalizar</md-subheader>
      <md-list-item class="md-3-line " ng-repeat="item in services.providerContracts" ng-if="item.enable" ng-click="services.closeContract(item._id)">
        <img ng-src="assets/images/profile.png " class="md-avatar " ng-click="services " />
        <div class="md-list-item-text " layout="column ">
          <h3>{{ item.name_provider + ' / ' +  item.name_client}}</h3>
          <h4 ng-if="item.money ">{{ item.name + ' / Valor: R$' + item.money}}</h4>
          <h4 ng-if="item.point ">{{ item.name + ' / Pontos: ' + item.point}}</h4>
          <p>{{ item.create_at }}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>
<style media="screen">
  ul {
    list-style: none;
  }

  ul li {
    display: inline-block;
  }
</style>
